
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Venues", "Index", "Venues")</li>
        <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">Upcoming Occassions</div>
        <div></div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>