@model IEnumerable<MYSD.VenueVendor>

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Halls", "Index", "Hall")</li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Upcoming Occassions</div>
            <div></div>
        </div>
    </div>
</div>
